#site-slogan h1 {
  color: #e64e1c;
  font-weight: bold;
}

.field-content a {
  color: #e64e1c;
}

#block-system-user-menu h2 {
  font-size: 27px;
}

.content .intro-block {
  text-align: center;
  margin-top: 91px;
  padding-top: 0px;
  color: #ffffff;
}

.intro-block h2 {
  color: #ffffff;
  font-style: italic;
}

.intro-block h4 {
  color: #ffffff;
}

#content-wrapper h1 {
  text-align: left;
}

